<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.usp.icmc.healthpal.healthpal">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddMedicineActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".AddContactActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".AlarmRaiseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".EditAlarmActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".BottomNavbar"
            android:label="@string/title_activity_bottom_navbar"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".MedicineViewActivity"
            android:label="@string/title_medicine"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactViewActivity"
            android:label="@string/title_contact"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MedicineListFragment"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>